html, body  {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.game-configure {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.game-configure div {
  margin-bottom: 0.75rem;
}
select {
  max-width: 20vh;
}

label {
  font-size: 20px;
}

.play {
  background-color: #3498db;
  border-radius: 15px;
  padding: 0.4em 0.75em;
  cursor: pointer;
  min-width: 60px;
  min-height: 30px;
}

.loading {
  margin: 0 auto;
  margin-top: 4rem; 
  display: flex;
  justify-self: center;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


li > span{
  border: 1px solid;
  padding: 0.25em 0.5em; 
  margin: 0.25em;
}
.row {
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

.guesses {
  margin: 0 auto;
  max-width: 40vh;
  border-bottom: 2px solid black;
  margin-bottom: 1rem;
}

.correct, .incorrect, .misplaced {
  height: 20px;
  width: 20px;
  padding: 0.5em;
  margin: 0.5em 0.25em;
  border: 1px solid black;
}

.correct {
  background-color: rgb(3, 247, 3);
}

.incorrect {
  background-color: crimson;
}

.misplaced {
  background-color: yellow;
}