body,
html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.title {
  text-align:center;
}

.active {
  text-decoration: underline;
}

.navList {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.navList > li {
  list-style-type: none;
  padding: 1rem;
}

.main-content {
  margin: 0;
  padding: 0;
  text-align: center;
}

.row {
  margin: 0.5em;
}

span {
  margin: 0.5em;
}


.row {
  display: grid;
  grid-template-columns: repeat(5, 15vh);
  width: fit-content;
  margin: auto;
}


.heading {
  font-weight: 600;
  font-size: 1rem;
  width: fit-content;
  margin: auto;
  border-bottom: 1px solid;
}

